<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {{> header}}
        <title>{{movie.title}}</title>
    </head>
    <body>
        {{> menu}}
        <section class="contenido">
            <div>
                <h1>{{movie.title}}</h1>
                <img class="caratula" src="/imatges/caratula.png" alt="caratula">
                <p>{{movie.description}}</p>
                <p><strong>Año:</strong> {{movie.release_year}}</p>
                <p><strong>Idioma:</strong> {{movie.name}}</p>
                <p><strong>Duración:</strong> {{movie.length}} min</p>
                <p><strong>Rating:</strong> {{movie.rating}}</p>
                <p><strong>Actores:</strong></p>
                <ul>
                    {{#each actors}}
                        <li>{{first_name}} {{last_name}}</li>
                    {{/each}}
                </ul>
                <a href="/movies">Volver a Movies</a>
            </div>
        </section>
        {{> footer}}
    </body>
</html>